<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <conversionRule conversionWord="olex"
                    converterClass="net.thoughtworks.common.logging.OneLineThrowableProxyConverter"/>

    <conversionRule conversionWord="moex"
                    converterClass="net.thoughtworks.common.logging.MessageOnlyThrowableProxyConverter"/>

    <conversionRule conversionWord="soex"
                    converterClass="net.thoughtworks.common.logging.StackOnlyThrowableProxyConverter"/>

    <property name="LOG_FILE" value="${LOG_FILE:-backend.log}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd, Asia/Shanghai}</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>

        </rollingPolicy>
    </appender>
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <appender name="LOGSTASH" class="com.cwbase.logback.RedisAppender">
            <type>application</type>
            <tags>dev</tags>
            <host>ec2-52-81-59-118.cn-north-1.compute.amazonaws.com.cn</host>
            <port>6379</port>
            <password>jVGNFxrnpsrfMS9u</password>
            <key>logstash</key>
        </appender>
        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>